<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Calculator</display-name>
  
  
  <servlet>
    <description></description>
    <display-name>AdditionServlet</display-name>
    <servlet-name>AdditionServlet</servlet-name>
    <servlet-class>servlets.AdditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionServlet</servlet-name>
    <url-pattern>/AdditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationServlet</display-name>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>servlets.MultiplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/MultiplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationsServlet</display-name>
    <servlet-name>OperationsServlet</servlet-name>
    <servlet-class>servlets.OperationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationsServlet</servlet-name>
    <url-pattern>/OperationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>servlets.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
</web-app>